@import "../../../../../../styles";

.global-div-offerts {
	.grid-offerts {
		display: grid;
		grid-template-columns: repeat(3,280px);
		justify-content: center;
		grid-gap: 25px;
	}	

	@include max-width($media-desktop-small){
		.grid-offerts {
			grid-template-columns: 1fr;
		}
	}

	@include max-width($media-tablet-big){
		padding-top: 3.5em !important;
	}
}