@keyframes initMain {
	from {
		transform: translateX(-25px);
		opacity: 0;
	}

	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

.content-lesson-section , .main-section {
	animation: initMain .15s linear backwards;
}

.container-tab {
	min-height: 450px;
}