.title-component {
	padding: 5em 0;
	text-align: center;
	display: flex;
	justify-content: center;
	
	.text-title {
		width: 50%;
		color: var(--color-dark);
		font-weight: 900;
		font-size: 3em;
		word-wrap: break-word;
	}
}