.content-user-auth-menu-slide {
	margin-top: 5em;

	.item-option-user-menu-slide {
		margin: 1.5em 0;
		.option {
			color: var(--color-secondary);
			background: #fff;
			font-size: 15px;
			font-weight: 600;
		}
	}
}