.empty-preview-recommendation {
	.message-title {
		display: block;
		margin-bottom: 2em;
	}

	.message-button {
		width: 230px;
		padding: .6em 0;
		font-size: .9em;
		border-radius: 50px;
		color: var(--color-base);
		background-color: #fff;
		border: 1px solid var(--color-base);
		transition: background .3s;
		font-weight: bold;

		&:hover {
			background-color: var(--color-base);
			color: #ffF;
		}
	}

	@media screen and (max-width : 680px) {
		text-align: center;
	}

	@media screen and (max-width : 480px) {
		.message-title {
			font-size: .9em;
		}

		.message-button {
			font-size: .8em;
		}
	}
}