@import "../../../../styles";
@import "../../../../styles";

$height-backdrop : 200px;

.image-backdrop {
	background-color: $text-light-smooth;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:$height-backdrop;
	position: relative;
	.upload-image-container {
		position: absolute;
		right: 2em;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
	}
}
