@import "styles";

.search-courses {
	margin: auto;
	margin-top: 2em;
	width: 85%;
	.row {
		@include flex(none, flex-start);

		&__aside {
			flex: none;
			width: 250px;
			margin-right: 2em;
			&-title {
				color: var(--color-base);
				font-size: 13px;
				font-weight: bold;
				margin-bottom: 20px;
			}
		}
		&__results {
			width: 100%;
		}
	}

	@include max-width($media-desktop-small) {
		width: 95%;
		margin-top: 0;
	}
	@include max-width($media-tablet-big) {
		.row {
			&__aside {
				margin-right: 0;
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100vh;
				z-index: 10;
				background-color: white;
				overflow-y: auto;
				transition: 0.3s;
				opacity: 0;
				visibility: hidden;
				&.open {
					visibility: visible;
					opacity: 1;
				}
				&::-webkit-scrollbar {
					display: none;
				}
			}
		}
	}
}

.filter-button {
	@include flex();
	font-weight: 900;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid darken($color: $text-light-smooth, $amount: 6);
	.icon {
		color: var(--color-base);
		margin-right: 10px;
	}
}

.container-message-empty-course {
	height: 450px;
	display: flex;
	align-items: center;
}

.grid-search-courses {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;

	@include max-width(1300px) {
		grid-template-columns: 1fr 1fr;
	}

	@include between-width($media-tablet-big, $media-desktop-small) {
		grid-template-columns: 1fr;
	}

	@include max-width($media-tablet-small) {
		grid-template-columns: 1fr;
	}
}
