@import "../../../../../styles";

.card-editable {
	padding: 0 1.5em;
	padding-bottom: 2em;
	border-bottom: 1px solid rgb(230, 230, 230);

	.flex {
		@include flex(space-between);
		&.header {
			padding: 1.5em 0;
			.title {
				font-weight: bold;
				font-size: 18px;
			}
			.editor-button {
				color: var(--color-light);
				cursor: pointer;
				font-size: 14px;
				text-transform: uppercase;
				@include flex(space-between, center);
				> * {
					margin: 2px;
				}
			}
		}
	}

	.editor {
		width: 100%;
		.editor-input {
			border: 1px solid rgb(230, 230, 230);
			transition: border-color 0.3s;
			padding: 1pc;
			color: $text-light;
			width: 100%;
			font-size: 15px;
			outline: none;
			resize: none;
			&:focus {
				border-color: var(--color-base);
			}

			&::-webkit-scrollbar {
				display: none;
			}
		}
		.editor-limit {
			font-weight: bold;
			color: var(--color-light);
			text-align: right;
			font-size: 14px;
		}
	}

	.editor-button .text-edit {
		font-size: 0.8em;

		&.editable {
			transition: color 0.3s;
			color: var(--color-secondary);
		}
	}

	.text-editor {
		color: var(--color-light);
		line-height: 20px;
		font-size: 17.5px;
		font-weight: 300;
		padding-right: 1em;
	}

	&:last-child {
		padding-bottom: 2em;
	}
}
