@import "../../../styles";

.container-mentor-posting {
	@include flex(flex-start,center);

	.container-information {
		width: auto;
		display: grid;
		grid-template-columns: 1fr;
		padding-left: 1em;
		.mentor {
			font-weight: 700;
		}		
		.type {
			font-size: .9em;
		}
	}
}