@import "../../../../../styles";

.main-section {
	background: rgb(250,250,250);

	--width : 80%;

	.content-section {
		width: var(--width);
		margin: 0 auto;
		padding-bottom: 2em;
	}

	@include max-width($media-desktop-big){
		--width : 80%;

		.content-section .title-main-section{
			text-align: center !important;
		}
	}

	@include max-width($media-desktop-medium){
		--width : 85%;
		font-size: .95em;
	}

	@include max-width($media-desktop-small){
		--width : 90%;
	}

	@include max-width($media-tablet-big){
		--width : 95%;
	}

	@include max-width($media-mobile-big){
		.content-section .title-main-section{
			font-size: .9em;
		}
	}
}