@import "../../../../../styles";

.enrolled-course-item {
	@include flex(none);
	margin: 20px 0;
	background: white;
	padding: 20px 10px;
	&:hover {
		cursor: pointer;
	}
	.enrolled-row {
		.body {
			margin-left: 10px;
		}
		&__title {
			font-size: 15px;
			margin-bottom: 10px;
		}
		&__detail {
			color: $text-light;
			font-size: 15px;
		}
	}
}