.container-field {
	margin-top: 20px;
	margin-bottom: 40px;
	.title-field {
		margin-bottom: 10px;
		display: inline-block;
	}

	.input-field {
		border: 1px solid rgba(0, 0, 0, 0.3);
		padding: 10px;
		display: block;
		width: 300px;
		max-width: 100%;
	}
}
